<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Polymer Starter Kit" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="theme-color" content="#2E3AA1" />
    <link rel="manifest" href="manifest.json" crossorigin="use-credentials" />
    <meta name="msapplication-TileColor" content="#3372DF" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Nuxeo" />
    <link rel="icon" sizes="32x32" href="images/touch/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" href="images/touch/favicon-16x16.png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="mask-icon" href="images/touch/safari-pinned-tab.svg" color="#0066ff" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Nuxeo" />
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png" />
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>

  <body>
    <nuxeo-app base-url="/random-url" unresolved> </nuxeo-app>
  </body>
</html>
