<!--
@license
(C) Copyright Nuxeo Corp. (http://nuxeo.com/)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!--
`nuxeo-home`
@group Nuxeo UI
@element nuxeo-home
-->
<dom-module id="nuxeo-home">
  <template>
    <style include="nuxeo-styles">
      .dashboard {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      nuxeo-card {
        min-width: 25em;
        width: 49%;
      }

      @media (max-width: 1024px) {
        nuxeo-card {
          width: 100%;
        }
      }

      nuxeo-data-table,
      nuxeo-data-list {
        height: 350px;
        min-height: auto;
      }

      .ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        width: calc(100% - 38px);
      }

      .task-box {
        line-height: 155%;
      }

      .task-box + .task-box {
        border-top: 1px solid var(--divider-color);
      }

      .task-due-date {
        opacity: 0.5;
        margin-right: 0.5rem;
      }

      .taskDoc .doc-title,
      .date {
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 85%;
        overflow: hidden;
      }

      .date {
        color: var(--nuxeo-warn-text);
      }

      .list-item {
        cursor: pointer;
        padding: 1em;
        border-bottom: 1px solid var(--nuxeo-border);
      }

      .list-item:hover {
        @apply --nuxeo-block-hover;
      }

      .list-item:focus {
        outline: 0;
      }

      .task-name {
        font-weight: bold;
      }

      .horizontal {
        @apply --layout-horizontal;
        @apply --layout-center;
      }
    </style>

    <nuxeo-connection id="nx"></nuxeo-connection>
    <nuxeo-page>
      <div slot="header">
        <nuxeo-repositories></nuxeo-repositories>
        [[i18n('home.dashboard')]]
      </div>
      <div>
        <section name="dashboard" class="dashboard">
          <!-- recently edited -->
          <nuxeo-card icon="nuxeo:edit" heading="[[i18n('home.latestDocumentsEdited')]]">
            Provid
            <nuxeo-page-provider
              id="latestQuery"
              page-size="20"
              provider="domain_documents"
              schemas="dublincore,common,uid"
              enrichers="thumbnail"
              params='{"queryParams": "/"}'
              headers='{"fetch-document": "properties"}'>

            </nuxeo-page-provider>
            Table
            <nuxeo-data-table
              id="latestEditedDocs"
              max-items="15"
              nx-provider="latestQuery"
              empty-label="[[i18n('queryWidget.noDocuments')]]"
              on-row-clicked="_navigate"
            >
              <nuxeo-data-table-column name="[[i18n('documentContentView.datatable.header.title')]]" flex="100">
                <template>
                  <nuxeo-document-thumbnail document="[[item]]"></nuxeo-document-thumbnail>
                  <a class="ellipsis" href$="[[urlFor(item)]]">[[item.title]]</a>
                </template>
              </nuxeo-data-table-column>
              <nuxeo-data-table-column name="[[i18n('documentContentView.datatable.header.modified')]]" flex="50">
                <template>
                  <nuxeo-date datetime="[[item.properties.dc:modified]]" format="relative"></nuxeo-date>
                </template>
              </nuxeo-data-table-column>
              <nuxeo-data-table-column
                name="[[i18n('documentContentView.datatable.header.lastContributor')]]"
                flex="50"
              >
                <template>
                  <nuxeo-user-tag user="[[item.properties.dc:lastContributor]]"></nuxeo-user-tag>
                </template>
              </nuxeo-data-table-column>
            </nuxeo-data-table>
          </nuxeo-card>

          Tasks
          <!-- tasks -->
          <nuxeo-card icon="nuxeo:tasks" heading="[[i18n('home.tasks')]]">
            <nuxeo-task-page-provider id="tasksProvider" page-size="20"></nuxeo-task-page-provider>
            <nuxeo-data-list
              nx-provider="tasksProvider"
              id="tasksList"
              as="task"
              max-items="15"
              empty-label="[[i18n('tasksList.noTasks')]]"
              select-on-tap
              selection-enabled
              selected-item="{{_selection}}"
            >
              <template>
                <div tabindex$="{{tabIndex}}" class="list-item">
                  <div class="task-box">
                    <div class="horizontal layout center">
                      <span class="task-name">[[i18n(task.name)]]</span>
                    </div>
                    <div class="taskDoc horizontal">
                      <span class="doc-title">[[task.targetDocumentIds.0.title]]</span>
                    </div>
                    <div class="horizontal">
                      <span class="task-due-date">[[i18n('tasksList.dueDate')]]</span>
                      <span class="date">
                        <nuxeo-date datetime="[[task.dueDate]]" format="relative"></nuxeo-date>
                      </span>
                    </div>
                    <div class="horizontal">
                      <span>[[i18n(task.workflowModelName)]]</span>
                    </div>
                  </div>
                </div>
              </template>
            </nuxeo-data-list>
          </nuxeo-card>

          Card
          <!-- recently viewed -->
          <nuxeo-card icon="nuxeo:recent" heading="[[i18n('app.recentlyViewed')]]">
            <nuxeo-document-storage
              id="recentStorage"
              name="nuxeo-recent-documents"
              documents="{{_recentDocuments}}"
            ></nuxeo-document-storage>
            <nuxeo-page-provider id="recentProvider" page-size="15" schemas="uid"></nuxeo-page-provider>
            <nuxeo-data-table
              id="latestViewedDocs"
              max-items="15"
              empty-label="[[i18n('recentDocuments.empty')]]"
              empty-label-when-filtered="[[i18n('recentDocuments.empty')]]"
              on-row-clicked="_navigate"
            >
              <nuxeo-data-table-column name="[[i18n('documentContentView.datatable.header.title')]]" flex="100">
                <template>
                  <nuxeo-document-thumbnail document="[[item]]"></nuxeo-document-thumbnail>
                  <a class="ellipsis" href$="[[urlFor(item)]]">[[item.title]]</a>
                </template>
              </nuxeo-data-table-column>
              <nuxeo-data-table-column name="[[i18n('recentDocumentsTable.type')]]" flex="50">
                <template>
                  <nuxeo-tag>[[formatDocType(item.type)]]</nuxeo-tag>
                </template>
              </nuxeo-data-table-column>
              <nuxeo-data-table-column name="[[i18n('recentDocumentsTable.lastViewed')]]" flex="50">
                <template>
                  <nuxeo-date datetime="[[item.lastViewed]]" format="relative"></nuxeo-date>
                </template>
              </nuxeo-data-table-column>
            </nuxeo-data-table>
          </nuxeo-card>
          
          Card 2
          <!-- favorites -->
          <nuxeo-card icon="nuxeo:favorites" heading="[[i18n('home.favorites')]]">
            <nuxeo-operation id="fetchFavOp" op="Favorite.Fetch" response="favorite"></nuxeo-operation>
            <nuxeo-page-provider
              id="favoritesProvider"
              provider="default_content_collection"
              page-size="20"
              schemas="dublincore,common,uid"
              headers='{"fetch-document": "properties"}'
              enrichers="thumbnail"
            >
            </nuxeo-page-provider>
            <nuxeo-data-table
              id="favoriteDocs"
              max-items="15"
              nx-provider="favoritesProvider"
              empty-label="[[i18n('favorites.empty')]]"
              on-row-clicked="_navigate"
            >
              <nuxeo-data-table-column name="[[i18n('documentContentView.datatable.header.title')]]" flex="100">
                <template>
                  <nuxeo-document-thumbnail document="[[item]]"></nuxeo-document-thumbnail>
                  <a class="ellipsis" href$="[[urlFor(item)]]">[[item.title]]</a>
                </template>
              </nuxeo-data-table-column>
              <nuxeo-data-table-column name="[[i18n('documentContentView.datatable.header.modified')]]" flex="50">
                <template>
                  <nuxeo-date datetime="[[item.properties.dc:modified]]" format="relative"></nuxeo-date>
                </template>
              </nuxeo-data-table-column>
              <nuxeo-data-table-column
                name="[[i18n('documentContentView.datatable.header.lastContributor')]]"
                flex="50"
              >
                <template>
                  <nuxeo-user-tag user="[[item.properties.dc:lastContributor]]"></nuxeo-user-tag>
                </template>
              </nuxeo-data-table-column>
            </nuxeo-data-table>
          </nuxeo-card>
        </section>
      </div>
    </nuxeo-page>
  </template>

  <script>
    Polymer({
      is: 'nuxeo-home',
      behaviors: [Nuxeo.RoutingBehavior, Nuxeo.FormatBehavior],
      properties: {
        visible: {
          type: Boolean,
          observer: '_visibleChanged',
        },

        _recentDocuments: {
          type: Array,
          value: [],
          observer: '_recentDocumentsChanged',
        },
      },

      observers: ['_processTask(_selection)'],

      _processTask() {
        if (this._selection) {
          this.fire('navigate', {
            task: this._selection,
            index: this.$.tasksList._selectedItemIndex(),
            params: { offset: this.$.tasksProvider.offset, pageSize: this.$.tasksProvider.pageSize },
          });
        }
      },

      _visibleChanged(visible) {
        if (visible) {
          this._refresh();
        }
      },

      _refresh() {
        this.$.latestEditedDocs.fetch();
        this.$.nx.connect().then((user) => {
          this.$.tasksProvider.params = {
            userId: user.id,
          };
          this.$.tasksList.fetch();
        });
        this.$.recentStorage.reload();
        this._fetchFavorite().then((favorite) => {
          if (!(favorite && favorite.uid)) {
            return;
          }

          this.$.favoritesProvider.params = [favorite.uid];
          this.$.favoritesProvider.page = 1;
          this.$.favoriteDocs.fetch();
        });
      },

      _navigate(e) {
        let detail;
        if (e.detail.item) {
          detail = {
            doc: e.detail.item,
          };
          this.navigateTo(detail.doc);
        } else {
          detail = {
            doc: e.model.item,
          };
        }
        this.fire('navigate', detail);
      },

      _fetchFavorite() {
        if (this.favorite) {
          return Promise.resolve(this.favorite);
        }
        return this.$.fetchFavOp.execute().then((resp) => {
          this.favorite = resp;
          return resp;
        });
      },

      _recentDocumentsChanged(docs) {
        if (docs && docs.length > 0) {
          const storage = this.$.recentStorage;
          const provider = this.$.recentProvider;
          const ids = docs.map((doc) => `'${doc.uid}'`).join(',');
          provider.query = `SELECT * FROM Document WHERE ecm:uuid IN (${ids}) AND ecm:isTrashed = 0`;
          provider.fetch().then((result) => {
            docs.forEach((doc) => {
              if (result.entries.findIndex((entry) => entry.uid === doc.uid) === -1) {
                storage.remove(doc);
              }
            });
            this.$.latestViewedDocs.items = docs;
            this.$.latestViewedDocs.notifyResize(); // XXX: force rendering for Edge (NXP-26244)
          });
        }
      },
    });
  </script>
</dom-module>
