<!--
@license
(C) Copyright Nuxeo Corp. (http://nuxeo.com/)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!--
`nuxeo-browser`
@group Nuxeo UI
@element nuxeo-browser
-->
<dom-module id="nuxeo-browser">
  <template>
    <style include="nuxeo-styles">
      /* document actions */
      .document-actions {
        /* To represent accurate clientWidth in Safari */
        overflow-y: hidden;
        height: var(--nuxeo-drawer-header-height);
      }

      .document-actions paper-icon-button {
        @apply --nuxeo-action;
      }

      .document-actions paper-icon-button:hover {
        @apply --nuxeo-action-hover;
      }

      paper-tabs {
        --paper-tabs-selection-bar-color: transparent;
        height: auto;
        min-height: 44px;
        font-size: inherit;
        font-weight: 400;
      }

      nuxeo-breadcrumb {
        max-width: calc(100% - var(--nuxeo-browser-actions-menu-max-width, 240px));
      }

      nuxeo-actions-menu {
        height: 100%;
        max-width: var(--nuxeo-browser-actions-menu-max-width, 240px);
      }
    </style>

    <!-- Main content -->
    <nuxeo-page class="main">
      <div slot="header">
        <nuxeo-repositories></nuxeo-repositories>
        <nuxeo-breadcrumb document="[[document]]"></nuxeo-breadcrumb>
        <template is="dom-if" if="[[!isTrashed(document)]]">
          <div class="document-actions">
            <nuxeo-actions-menu>
              <nuxeo-slot name="DOCUMENT_ACTIONS" model="[[actionContext]]"></nuxeo-slot>
            </nuxeo-actions-menu>
          </div>
        </template>
      </div>
      <div slot="tabs">
        <paper-tabs
          autoselect
          attr-for-selected="name"
          id="documentViewsItems"
          noink
          no-slide
          selected="{{selectedTab}}"
          selectable="nuxeo-page-item"
        >
          <nuxeo-slot name="DOCUMENT_VIEWS_ITEMS" model="[[viewsContext]]"></nuxeo-slot>
        </paper-tabs>
      </div>
      <div>
        <div id="nxContent">
          <iron-pages selected="[[selectedTab]]" attr-for-selected="name" selected-attribute="visible">
            <nuxeo-slot name="DOCUMENT_VIEWS_PAGES" model="[[viewsContext]]"></nuxeo-slot>
          </iron-pages>
        </div>
      </div>
    </nuxeo-page>
  </template>

  <script>
    Polymer({
      is: 'nuxeo-browser',
      behaviors: [Nuxeo.RoutingBehavior, Nuxeo.I18nBehavior, Nuxeo.FiltersBehavior],
      properties: {
        document: {
          type: Object,
        },
        selectedTab: {
          type: String,
          value: 'view',
          notify: true,
          observer: '_updateUrl',
        },
        cvParams: {
          type: Object,
          notify: true,
        },
        clipboard: {
          type: Object,
        },
        actionContext: {
          type: Object,
          computed: '_actionContext(document, clipboard)',
        },
        viewsContext: {
          type: Object,
          computed: '_viewsContext(document)',
        },
      },

      listeners: {
        aceupdated: '_documentUpdated',
        acedeleted: '_documentUpdated',
        'added-to-collection': '_documentUpdated',
        'removed-from-collection': '_documentUpdated',
      },

      _documentUpdated() {
        this.fire('document-updated');
      },

      download() {
        window.location.href = this.document.properties['file:content'].data;
      },

      get _enrichers() {
        return this.document && this.document.contextParameters;
      },

      get _canReadChildren() {
        return this._enrichers && this._enrichers.permissions.indexOf('ReadChildren') !== -1;
      },

      _actionContext() {
        return { document: this.document, clipboard: this.clipboard };
      },

      _viewsContext() {
        return { document: this.document };
      },

      _navigateToView() {
        this.navigateTo(this.document);
      },

      _updateUrl() {
    debugger;
        const currentUrl = window.location.href;
        let newUrl;
        const queryParamsIdx = currentUrl.lastIndexOf('?');
        let queryParams;
        if (queryParamsIdx > -1) {
          newUrl = currentUrl.slice(0, queryParamsIdx);
          queryParams = new URLSearchParams(currentUrl.substring(queryParamsIdx));
        } else {
          newUrl = currentUrl;
          queryParams = new URLSearchParams();
        }
        // remove 'p' queryParam if current tab is the default one
        if (this.selectedTab === this.properties.selectedTab.value) {
          queryParams.delete('p');
        } else {
          queryParams.set('p', this.selectedTab);
        }
        if (queryParams.toString().length > 0) {
          newUrl += `?${queryParams.toString()}`;
        }
        if (newUrl !== currentUrl) {
          window.history.pushState(null, window.title, newUrl);
        } else {
          window.history.replaceState(null, window.title, newUrl);
        }
      },
    });
  </script>
</dom-module>
